<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Ancient Chinese Poem Generator</title>
  </head>
  <body>
    <div id="root">
      <div class="ui fluid container">
        <h2 class="ui center aligned header pg-header">
          <i class="write square icon"></i>
          Ancient Chinese Poem Generator
        </h2>
        <div class="ui icon input">
          <input class="pg-input" placeholder="type a keyword"/>
          <i class="send outline link icon"></i>
        </div>
        <ul class="pg-output">
          <li>珠帘高捲莫轻遮，</li>
          <li>往往相逢隔岁华，</li>
          <li>春气昨宵飘律管，</li>
          <li>东风今日放梅花。</li>
        </ul>
      </div>
    </div>
  </body>
</html>
