<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Ancient Chinese Poem Generator</title>
  </head>
  <body>
    <div id="root">
      <div class="ui fluid container">
        <h2 class="ui center aligned header pg-header">
          <i class="write square icon"></i>
          Ancient Chinese Poem Generator
        </h2>
        <div class="ui input">
          <input id="prime" class="pg-input" placeholder="type initial characters" v-model="prime" data-inverted=""/>
          <!--<i class="send outline link icon"></i>-->
        </div>
        <div class="ui input">
          <input id="sentence" class="pg-input" placeholder="type the first sentence" v-model="sentence" data-inverted=""/>
          <!--<i class="send outline link icon"></i>-->
        </div>
        <div class="pg-button">
          <button class="ui primary button" v-on:click="doit">
            <i class="send outline icon"></i>
            Generate
          </button>
        </div>
        <ul class="pg-output">
          <div class="sk-folding-cube" v-show="show">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </ul>
      </div>
    </div>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/jquery.lettering.js"></script>
    <script src="/javascripts/jquery.textillate.js"></script>
    <script src="/javascripts/semantic.min.js"></script>
    <script src="/javascripts/vue.min.js"></script>
    <script src="/javascripts/generate.js"></script>
  </body>
</html>
